:root {
  --material-lighter-secondary: lighten($secondary, 10%);
  --heading-font-family: 'Varela Round', Helvetica, Arial, sans-serif !important;
  --font-family: 'Varela Round', Helvetica, Arial, sans-serif !important;
}
